:root{
  --path-size: 500px;     
  --speed: 20s;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}

body{ background:#08011b; height:100vh; overflow:hidden; }

#ui{
  position:relative;            
  display:flex; align-items:center; justify-content:center;
  height:85vh;
  padding:0;                    
}

#centered-image{
  position:absolute; top:50%; left:50%;
  transform:translate(-50%,-50%);
  width:180px; height:auto; border-radius:50%;
  box-shadow:0 0 20px rgb(216 13 29 / 80%), 0 0 40px rgb(255 0 72 / 60%), 0 0 60px rgb(229 78 67);
  transition:all .3s;
}

#orbit{
  position:absolute; top:50%; left:50%;
  width:var(--path-size); height:var(--path-size);
  transform:translate(-50%,-50%);
  pointer-events:none;            
}

#ui{ position:relative; z-index:0; }

#centered-image,
#orbit{ position:absolute; z-index:1; }

.logo{
  position: fixed;    
  top: 40px;       
  left: 60px;
  transform: rotate(-20deg); 
  z-index: 5;  
  width: 120px;
}

.logo:before {
  content: "";
  display: block;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px dashed #fff;
  border-radius: 5px;
}

.box {
  background: #fff;
  border-radius: 5px;
  padding: 5px 5px;
  box-shadow: 1px 13px 79px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  transition: transform 0.4s;
}
.box img {
  width: 100%;
}
.box:hover {
  transform: translate(14%, 35%);
}

#orbit .love{
  position:absolute; top:0; left:0;
  offset-distance:0%;
  offset-rotate:0deg;               
  animation:travel var(--speed) linear infinite;
  animation-delay: calc(var(--i) * -0.3s);
}

@keyframes travel{ to{ offset-distance:100%; } }

#orbit .love_word{
  color:#4a4949; font-size:1.4rem; font-family:'Great Vibes';
  letter-spacing:2px; text-shadow:0 0 10px #89e04b;
  transform:rotateZ(-30deg);
}

#orbit .love--highlight .love_word{
  color:rgb(216,71,71); font-size:2.4rem; text-shadow:0 0 10px rgb(183,3,3);
}

#centered-image:hover{
  box-shadow:0 0 30px rgba(255,215,0,1), 0 0 50px rgba(255,215,0,0.8), 0 0 70px rgba(255,215,0,0.6);
  filter:brightness(1.2) contrast(1.2);
}